@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom css */
@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .padding-x-25 {
    padding-right: 25%;
    padding-left: 25%;
  }

  .border-bottom {
    border-bottom: 1px solid lightslategrey;
  }

  .grid-cols-3-7 {
    grid-template-columns: 30% 70%;
  }
  .grid-cols-7-3 {
    grid-template-columns: 70% 25%;
  }
  .grid-cols-chat {
    grid-template-columns: 65% 25%;
  }
  .grid-cols-8-2 {
    grid-template-columns: 80% 20%;
  }
}
